@import url(http://fonts.googleapis.com/css?family=Lato:400,900|Open+Sans|Raleway:300);

$font-face-primary:   'Open Sans', 'Verdana', 'Helvetica', sans-serif;
$font-face-secondary: 'Raleway', 'Gill Sans', 'Lucida Grande', 'Arial', sans-serif;
$font-face-tertiary:  'Lato', 'Helvetica', 'Arial', sans-serif;

$font-size-base: 16px;

$line-height-base: 1.4;